#root {
  margin: 0;
  padding: 0;
  display: inline;
}
h1 {
  font-size: 5.5rem;
}
h2 {
  font-size: 3rem;
}

body {
  background: whitesmoke;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 3%;
}

.nav-links {
  list-style-type: none;
  display: flex;
  right: 0.5%;
  position: absolute;
}

.nav-link {
  margin: 0 50px;
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  color: #668941;
}
.hamburger {
  display: none;
  position: absolute;
  right: 0.5%;
  margin: 5%;
  border: none;
  font-size: 2.5rem;
}

.hamburgerMenu {
  list-style-type: none;
  line-height: 25px;
}

@media screen and (max-width: 1050px) {
  .nav-link {
    margin: 0 30px;
  }
}
@media screen and (max-width: 940px) {
  .nav-link {
    margin: 0 20px;
  }
}
@media screen and (max-width: 660px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}

.hero {
  background: url("./images/hero4.jpg") center/cover;
  width: 100%;
  text-align: center;
  height: 500px;
  padding-top: 180px;
}

.hero h1 {
  margin-top: -60px;
  font-family: serif;
  text-align: center;
}

.hero p {
  margin-top: 2%;
  font-family: serif;
  font-size: 2.5rem;
}
@media screen and (max-width: 660px) {
  .hero h1 {
    font-size: 4rem;
  }
  .hero p {
    font-size: 2rem;
    margin: 2% 6%;
  }
}

/* ******** */
/* ARTICLES */
/* ******** */

.articles {
  margin: 100px auto 100px;
  text-align: center;
}

.articles h2 {
  text-align: center;
  margin-bottom: 2%;
}

.article {
  display: inline-block;
  width: 25%;
  margin: 20px;
  outline: 1px solid gray;
}

.article img {
  width: 100%;
  height: 320px;
}
.article h3 {
  text-align: center;
  margin-top: 20px;
}
.article p {
  text-align: center;
  margin: 7% 8%;
}

.articles hr {
  width: 50px;
  border: 1px solid gray;
  margin-top: 20px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
@media screen and (max-width: 1610px) {
  .article img {
    height: 300px;
  }
}

@media screen and (max-width: 1465px) {
  .article {
    width: 25%;
  }
}

@media screen and (max-width: 1050px) {
  .article {
    display: inline-block;
    width: 45%;
  }
  .article p {
    padding-bottom: 8%;
  }
}
@media screen and (max-width: 940px) {
  .article {
    width: 50%;
  }
}
@media screen and (max-width: 820px) {
  .article {
    width: 55%;
  }
}
@media screen and (max-width: 650px) {
  .article {
    margin: 5%;
    width: 70%;
  }
}

/* ***** */
/* ABOUT */
/* ***** */

.about {
  margin: 0;
  display: flex;
  background-color: #e3e3db;
}
.about img {
  width: 100%;
  height: 100%;
}
.about-img {
  margin: 0;
  width: 45%;
}
.about h2 {
  margin: 30% auto 0;
  text-align: center;
}

.about-info {
  text-align: justify;
  width: 35%;
  margin-left: 10%;
  line-height: 135%;
  font-size: 1.5rem;
  padding-bottom: 4%;
}

.about hr {
  width: 50px;
  border: 1px solid gray;
  margin: 40px auto 40px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
@media screen and (max-width: 1620px) {
  .about-img {
    width: 50%;
  }
  .about-info {
    margin-bottom: 8%;
  }
}
@media screen and (max-width: 1300px) {
  .about-info {
    font-size: 1.2rem;
    margin-left: 8%;
  }
}
@media screen and (max-width: 1050px) {
  .about {
    display: block;
    margin: 0 20%;
  }
  .about-img {
    margin: 0;
    width: 100%;
  }
  .about h2 {
    font-size: 2.5rem;
    margin-top: 15%;
  }
  .about-info {
    width: 70%;
    margin-left: 15%;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 700px) {
  .about h2 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1rem;
  }
  .about hr {
    margin: 20px auto 20px;
  }
}

/* ****** */
/* footer */
/* ****** */

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.footer-link {
  padding: 2rem;
  text-decoration: none;
  color: black;
}
.footer-link:hover {
  color: #668941;
}

.footer p {
  text-align: center;
  margin-bottom: 1rem;
}
